In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv( 'NY property data.csv')

In [3]:
df.head()

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

In [4]:
df.describe()

,RECORD,B,BLOCK,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,...,EXTOT,EXCD1,ZIP,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.014730e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,638488.000000,1.041104e+06,1.070994e+06,1.070994e+06,2.827260e+05,2.827320e+05,8.744900e+04,1.308280e+05,92948.000000
mean,5.354975e+05,3.215427e+00,4.757239e+03,3.647221e+02,3.663530e+01,8.886159e+01,5.006918e+00,8.742645e+05,8.506792e+04,2.272382e+05,...,9.118698e+04,1602.014232,1.092396e+04,2.304277e+01,3.992284e+01,2.462357e+05,7.139114e+05,3.512357e+05,6.567683e+05,1364.041679
std,3.091695e+05,1.201197e+00,3.676579e+03,8.532152e+02,7.403284e+01,7.639628e+01,8.365707e+00,1.158243e+07,4.057260e+06,6.877529e+06,...,6.508403e+06,1384.226741,5.284208e+02,3.557970e+01,4.270715e+01,6.178963e+06,1.165253e+07,1.080221e+07,1.607251e+07,1094.705653
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1010.000000,1.000100e+04,0.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,1.000000e+00,7.000000e+00,1011.000000
25%,2.677492e+05,3.000000e+00,1.555000e+03,2.300000e+01,1.900000e+01,8.000000e+01,2.000000e+00,3.040000e+05,9.180000e+03,1.837400e+04,...,0.000000e+00,1017.000000,1.031400e+04,1.500000e+01,2.600000e+01,5.705000e+03,3.391200e+04,2.090000e+03,2.870000e+03,1017.000000
50%,5.354975e+05,3.000000e+00,4.047000e+03,4.900000e+01,2.500000e+01,1.000000e+02,2.000000e+00,4.470000e+05,1.367800e+04,2.534000e+04,...,1.620000e+03,1017.000000,1.121400e+04,2.000000e+01,3.900000e+01,2.014500e+04,7.996250e+04,3.048000e+03,3.706200e+04,1017.000000
75%,8.032458e+05,4.000000e+00,6.898000e+03,1.430000e+02,4.000000e+01,1.000000e+02,3.000000e+00,6.190000e+05,1.974000e+04,4.543800e+04,...,2.090000e+03,1017.000000,1.136400e+04,2.400000e+01,5.000000e+01,6.264000e+04,2.405510e+05,3.177900e+04,1.068408e+05,1017.000000
max,1.070994e+06,5.000000e+00,1.635000e+04,9.978000e+03,9.999000e+03,9.999000e+03,1.190000e+02,6.150000e+09,2.668500e+09,4.668309e+09,...,4.668309e+09,7170.000000,3.380300e+04,7.575000e+03,9.393000e+03,2.371005e+09,4.501180e+09,2.371005e+09,4.501180e+09,7160.000000

In [5]:
missing_zip=np.where(pd.isnull(df['ZIP']))[0]
len(missing_zip)

29890

In [6]:
for i in range(len(missing_zip)):
    if (df.loc[missing_zip[i]+1,'ZIP']==df.loc[missing_zip[i]-1,'ZIP']):
        df.loc[missing_zip[i],'ZIP']=df.loc[missing_zip[i]-1,'ZIP']

In [7]:
missing_zip=np.where(pd.isnull(df['ZIP']))[0]
len(missing_zip)

16437

In [8]:
for i in range(len(missing_zip)):
    df.loc[missing_zip[i],'ZIP']=df.loc[missing_zip[i]-1,'ZIP']

In [9]:
missing_zip=np.where(pd.isnull(df['ZIP']))[0]
len(missing_zip)

0

In [10]:
df['ZIP'].describe()

count    1.070994e+06
mean     1.092024e+04
std      5.286096e+02
min      1.000100e+04
25%      1.031400e+04
50%      1.121400e+04
75%      1.136300e+04
max      3.380300e+04
Name: ZIP, dtype: float64

In [11]:
df['STORIES'].describe()

count    1.014730e+06
mean     5.006918e+00
std      8.365707e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

In [12]:
missing_story=df[df['STORIES'].isnull()]
len(missing_story)

56264

In [13]:
mean=df.groupby('TAXCLASS')['STORIES'].mean()
print(mean)

TAXCLASS
1      2.111641
1A     1.656837
1B     4.000000
1C     3.052748
1D     1.068966
2     16.095110
2A     2.844574
2B     4.004494
2C     4.745097
3      1.333333
4      5.446968
Name: STORIES, dtype: float64

In [14]:
df['STORIES']=df['STORIES'].fillna(value=0)
for index in mean.index:
    df.loc[(df['STORIES']==0)&(df['TAXCLASS']==index),'STORIES']=mean[index]

In [15]:
missing_story=df[df['STORIES'].isnull()]
len(missing_story)

0

In [16]:
df['STORIES'].describe()

count    1.070994e+06
mean     5.009945e+00
std      8.172874e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

In [17]:
df['AVLAND'].replace('NaN',0)
notzero=df[df['AVLAND']!=0]
meanavl=notzero.groupby('TAXCLASS')['AVLAND'].mean()
meanavl

TAXCLASS
1      14896.433976
1A      2247.369138
1B     14781.268478
1C      8225.658898
1D    709303.793103
2      90830.095031
2A     31363.390619
2B     54446.810503
2C     25639.066531
3      43368.352941
4     600949.433397
Name: AVLAND, dtype: float64

In [18]:
missing_avland=df[df['AVLAND'].isnull()]
len(missing_avland)

0

In [19]:
df['FULLVAL'].replace('NaN',0)
notzero=df[df['FULLVAL']!=0]
meanful=notzero.groupby('TAXCLASS')['FULLVAL'].mean()
meanful

TAXCLASS
1     5.698435e+05
1A    3.352842e+05
1B    5.613639e+05
1C    7.615359e+05
1D    2.233614e+07
2     7.998018e+05
2A    8.640037e+05
2B    1.252989e+06
2C    7.728799e+05
3     1.112765e+05
4     3.211928e+06
Name: FULLVAL, dtype: float64

In [20]:
missing_fullval=df[df['FULLVAL'].isnull()]
len(missing_fullval)

0

In [21]:
df['AVTOT'].replace('NaN',0)
notzero=df[df['AVTOT']!=0]
meanavt=notzero.groupby('TAXCLASS')['AVTOT'].mean()
meanavt

TAXCLASS
1     2.501609e+04
1A    1.436972e+04
1B    1.478410e+04
1C    2.898447e+04
1D    1.166866e+06
2     3.599121e+05
2A    7.961158e+04
2B    1.785982e+05
2C    1.170444e+05
3     5.007444e+04
4     1.488705e+06
Name: AVTOT, dtype: float64

In [22]:
missing_avtot=df[df['AVTOT'].isnull()]
len(missing_avtot)

0

In [23]:
%%time
for i in meanful.index:
    df.loc[(df['FULLVAL']==0)&(df['TAXCLASS']==i),'FULLVAL']=meanful[i]
    df.loc[(df['AVLAND']==0)&(df['TAXCLASS']==i),'AVLAND']=meanavl[i]
    df.loc[(df['AVTOT']==0)&(df['TAXCLASS']==i),'AVTOT']=meanavt[i]

Wall time: 1.96 s

In [24]:
df.describe()

,RECORD,B,BLOCK,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,...,EXTOT,EXCD1,ZIP,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,638488.000000,1.070994e+06,1.070994e+06,1.070994e+06,2.827260e+05,2.827320e+05,8.744900e+04,1.308280e+05,92948.000000
mean,5.354975e+05,3.215427e+00,4.757239e+03,3.647221e+02,3.663530e+01,8.886159e+01,5.009945e+00,8.835977e+05,8.647343e+04,2.312407e+05,...,9.118698e+04,1602.014232,1.092024e+04,2.304277e+01,3.992284e+01,2.462357e+05,7.139114e+05,3.512357e+05,6.567683e+05,1364.041679
std,3.091695e+05,1.201197e+00,3.676579e+03,8.532152e+02,7.403284e+01,7.639628e+01,8.172874e+00,1.158241e+07,4.057287e+06,6.877633e+06,...,6.508403e+06,1384.226741,5.286096e+02,3.557970e+01,4.270715e+01,6.178963e+06,1.165253e+07,1.080221e+07,1.607251e+07,1094.705653
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,1010.000000,1.000100e+04,0.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,1.000000e+00,7.000000e+00,1011.000000
25%,2.677492e+05,3.000000e+00,1.555000e+03,2.300000e+01,1.900000e+01,8.000000e+01,2.000000e+00,3.100000e+05,9.531000e+03,1.870200e+04,...,0.000000e+00,1017.000000,1.031400e+04,1.500000e+01,2.600000e+01,5.705000e+03,3.391200e+04,2.090000e+03,2.870000e+03,1017.000000
50%,5.354975e+05,3.000000e+00,4.047000e+03,4.900000e+01,2.500000e+01,1.000000e+02,2.000000e+00,4.510000e+05,1.388200e+04,2.573000e+04,...,1.620000e+03,1017.000000,1.121400e+04,2.000000e+01,3.900000e+01,2.014500e+04,7.996250e+04,3.048000e+03,3.706200e+04,1017.000000
75%,8.032458e+05,4.000000e+00,6.898000e+03,1.430000e+02,4.000000e+01,1.000000e+02,4.000000e+00,6.270000e+05,2.023200e+04,4.838000e+04,...,2.090000e+03,1017.000000,1.136300e+04,2.400000e+01,5.000000e+01,6.264000e+04,2.405510e+05,3.177900e+04,1.068408e+05,1017.000000
max,1.070994e+06,5.000000e+00,1.635000e+04,9.978000e+03,9.999000e+03,9.999000e+03,1.190000e+02,6.150000e+09,2.668500e+09,4.668309e+09,...,4.668309e+09,7170.000000,3.380300e+04,7.575000e+03,9.393000e+03,2.371005e+09,4.501180e+09,2.371005e+09,4.501180e+09,7160.000000

In [25]:
missing_ltf=df['LTFRONT'].isnull()
len(missing_ltf)

1070994

In [26]:
df.loc[df['LTFRONT']==0,'LTFRONT']=np.nan
df.loc[df['LTDEPTH']==0,'LTDEPTH']=np.nan
df.loc[df['BLDFRONT']==0,'BLDFRONT']=np.nan
df.loc[df['BLDDEPTH']==0,'BLDDEPTH']=np.nan

In [27]:
# calculate mean 
meanltf=df.groupby(df['TAXCLASS'])['LTFRONT'].mean()
meanltd=df.groupby(df['TAXCLASS'])['LTDEPTH'].mean()
meanbldf=df.groupby(df['TAXCLASS'])['BLDFRONT'].mean()
meanbldd=df.groupby(df['TAXCLASS'])['BLDDEPTH'].mean()

In [28]:
# change values
for i in meanltf.index:
    df.loc[(df['LTFRONT'].isnull())&(df['TAXCLASS']==i),'LTFRONT']=meanltf[i]    
    df.loc[(df['LTDEPTH'].isnull())&(df['TAXCLASS']==i),'LTDEPTH']=meanltd[i]
    df.loc[(df['BLDFRONT'].isnull())&(df['TAXCLASS']==i),'BLDFRONT']=meanbldf[i]
    df.loc[(df['BLDDEPTH'].isnull())&(df['TAXCLASS']==i),'BLDDEPTH']=meanbldd[i]

In [29]:
df[['FULLVAL', 'AVLAND', 'AVTOT', 'ZIP', 'STORIES', 'LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH','B','TAXCLASS']].describe()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,8.835977e+05,8.647343e+04,2.312407e+05,1.092024e+04,5.009945e+00,5.268214e+01,1.092436e+02,3.872672e+01,6.015042e+01,3.215427e+00
std,1.158241e+07,4.057287e+06,6.877633e+06,5.286096e+02,8.172874e+00,7.596092e+01,6.688077e+01,3.978480e+01,4.238918e+01,1.201197e+00
min,4.000000e+00,1.000000e+00,1.000000e+00,1.000100e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.100000e+05,9.531000e+03,1.870200e+04,1.031400e+04,2.000000e+00,2.100000e+01,9.900000e+01,2.000000e+01,3.700000e+01,3.000000e+00
50%,4.510000e+05,1.388200e+04,2.573000e+04,1.121400e+04,2.000000e+00,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,3.000000e+00
75%,6.270000e+05,2.023200e+04,4.838000e+04,1.136300e+04,4.000000e+00,6.000000e+01,1.120000e+02,4.000000e+01,8.266667e+01,4.000000e+00
max,6.150000e+09,2.668500e+09,4.668309e+09,3.380300e+04,1.190000e+02,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,5.000000e+00

In [30]:
cleandata=df[['FULLVAL', 'AVLAND', 'AVTOT', 'ZIP', 'STORIES', 'LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH','B','TAXCLASS']]

In [31]:
cleandata.to_csv('cleandata.csv')

In [32]:
df2=pd.read_csv('cleandata.csv',index_col=0)

D:\anaconda\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [33]:
df2.head()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B,TAXCLASS
0,21400000.0,4225500.0,9630000.0,10004.0,5.446968,500.0,1046.000000,64.412214,87.795565,1,4
1,193800000.0,14310000.0,87210000.0,10004.0,5.446968,27.0,133.775536,64.412214,87.795565,1,4
2,104686000.0,39008700.0,47108700.0,10004.0,3.000000,709.0,564.000000,709.000000,564.000000,1,4
3,39200000.0,15255000.0,17640000.0,10004.0,2.000000,793.0,551.000000,85.000000,551.000000,1,4
4,272300000.0,121050000.0,122535000.0,10004.0,1.000000,323.0,1260.000000,89.000000,57.000000,1,4

In [34]:
df2.describe()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,8.835977e+05,8.647343e+04,2.312407e+05,1.092024e+04,5.009945e+00,5.268214e+01,1.092436e+02,3.872672e+01,6.015042e+01,3.215427e+00
std,1.158241e+07,4.057287e+06,6.877633e+06,5.286096e+02,8.172874e+00,7.596092e+01,6.688077e+01,3.978480e+01,4.238918e+01,1.201197e+00
min,4.000000e+00,1.000000e+00,1.000000e+00,1.000100e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.100000e+05,9.531000e+03,1.870200e+04,1.031400e+04,2.000000e+00,2.100000e+01,9.900000e+01,2.000000e+01,3.700000e+01,3.000000e+00
50%,4.510000e+05,1.388200e+04,2.573000e+04,1.121400e+04,2.000000e+00,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,3.000000e+00
75%,6.270000e+05,2.023200e+04,4.838000e+04,1.136300e+04,4.000000e+00,6.000000e+01,1.120000e+02,4.000000e+01,8.266667e+01,4.000000e+00
max,6.150000e+09,2.668500e+09,4.668309e+09,3.380300e+04,1.190000e+02,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,5.000000e+00

In [34]:
df2["LOTAREA"]=df2.LTFRONT*df2.LTDEPTH
df2["BLDAREA"]=df2.BLDFRONT*df2.BLDDEPTH
df2["BLDVOL"]=df2.BLDAREA*df2.STORIES

In [35]:
df2.describe()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B,LOTAREA,BLDAREA,BLDVOL
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,8.835977e+05,8.647343e+04,2.312407e+05,1.092024e+04,5.009945e+00,5.268214e+01,1.092436e+02,3.872672e+01,6.015042e+01,3.215427e+00,8.135920e+03,3.415435e+03,4.333531e+04
std,1.158241e+07,4.057287e+06,6.877633e+06,5.286096e+02,8.172874e+00,7.596092e+01,6.688077e+01,3.978480e+01,4.238918e+01,1.201197e+00,1.539038e+05,9.860616e+04,2.292559e+06
min,4.000000e+00,1.000000e+00,1.000000e+00,1.000100e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.100000e+05,9.531000e+03,1.870200e+04,1.031400e+04,2.000000e+00,2.100000e+01,9.900000e+01,2.000000e+01,3.700000e+01,3.000000e+00,2.040000e+03,7.280000e+02,1.425000e+03
50%,4.510000e+05,1.388200e+04,2.573000e+04,1.121400e+04,2.000000e+00,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,3.000000e+00,3.000000e+03,1.080000e+03,2.250000e+03
75%,6.270000e+05,2.023200e+04,4.838000e+04,1.136300e+04,4.000000e+00,6.000000e+01,1.120000e+02,4.000000e+01,8.266667e+01,4.000000e+00,6.000000e+03,3.265333e+03,1.131021e+04
max,6.150000e+09,2.668500e+09,4.668309e+09,3.380300e+04,1.190000e+02,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,5.000000e+00,9.998000e+07,7.115198e+07,2.205711e+09

In [36]:
df2["r1"]=df2.FULLVAL/df2.LOTAREA
df2["r2"]=df2.FULLVAL/df2.BLDAREA
df2["r3"]=df2.FULLVAL/df2.BLDVOL
df2["r4"]=df2.AVLAND/df2.LOTAREA
df2["r5"]=df2.AVLAND/df2.BLDAREA
df2["r6"]=df2.AVLAND/df2.BLDVOL
df2["r7"]=df2.AVTOT/df2.LOTAREA
df2["r8"]=df2.AVTOT/df2.BLDAREA
df2["r9"]=df2.AVTOT/df2.BLDVOL

In [37]:
df2.describe()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B,...,BLDVOL,r1,r2,r3,r4,r5,r6,r7,r8,r9
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,8.835977e+05,8.647343e+04,2.312407e+05,1.092024e+04,5.009945e+00,5.268214e+01,1.092436e+02,3.872672e+01,6.015042e+01,3.215427e+00,...,4.333531e+04,2.152278e+02,5.760426e+02,2.623124e+02,1.134086e+01,3.393744e+01,1.590520e+01,2.781460e+01,6.416045e+01,2.555350e+01
std,1.158241e+07,4.057287e+06,6.877633e+06,5.286096e+02,8.172874e+00,7.596092e+01,6.688077e+01,3.978480e+01,4.238918e+01,1.201197e+00,...,2.292559e+06,1.439696e+03,7.757851e+03,3.756499e+03,2.111728e+02,2.424134e+03,1.438070e+03,3.733010e+02,3.066847e+03,1.487748e+03
min,4.000000e+00,1.000000e+00,1.000000e+00,1.000100e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,3.194961e-04,7.073253e-04,8.608601e-05,8.333333e-06,2.008674e-04,1.038033e-05,8.333333e-06,3.062474e-04,6.049251e-05
25%,3.100000e+05,9.531000e+03,1.870200e+04,1.031400e+04,2.000000e+00,2.100000e+01,9.900000e+01,2.000000e+01,3.700000e+01,3.000000e+00,...,1.425000e+03,7.115844e+01,1.705387e+02,6.884638e+01,2.238848e+00,5.607847e+00,1.736443e+00,5.137000e+00,1.671970e+01,6.573992e+00
50%,4.510000e+05,1.388200e+04,2.573000e+04,1.121400e+04,2.000000e+00,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,3.000000e+00,...,2.250000e+03,1.504507e+02,4.933333e+02,2.349206e+02,4.559750e+00,1.488000e+01,7.083636e+00,8.493884e+00,2.681687e+01,1.258945e+01
75%,6.270000e+05,2.023200e+04,4.838000e+04,1.136300e+04,4.000000e+00,6.000000e+01,1.120000e+02,4.000000e+01,8.266667e+01,4.000000e+00,...,1.131021e+04,2.410526e+02,6.803571e+02,3.330882e+02,7.227727e+00,2.029412e+01,1.003389e+01,1.350127e+01,3.602000e+01,1.756989e+01
max,6.150000e+09,2.668500e+09,4.668309e+09,3.380300e+04,1.190000e+02,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,5.000000e+00,...,2.205711e+09,8.360000e+05,3.712000e+06,2.930000e+06,1.540706e+05,1.549530e+06,1.318500e+06,2.481176e+05,1.670400e+06,1.318500e+06

In [38]:
df2['ZIP']=df2['ZIP'].astype(str)
df2['ZIP'].describe()

count     1070994
unique        196
top       10314.0
freq        25712
Name: ZIP, dtype: object

In [39]:
df2['zip3']=df2['ZIP'].str[:3]

In [40]:
df2.head()

,FULLVAL,AVLAND,AVTOT,ZIP,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B,...,r1,r2,r3,r4,r5,r6,r7,r8,r9,zip3
0,21400000.0,4225500.0,9630000.0,10004.0,5.446968,500.0,1046.000000,64.412214,87.795565,1,...,40.917782,3784.190253,694.733351,8.079350,747.200744,137.177373,18.413002,1702.885614,312.630008,100
1,193800000.0,14310000.0,87210000.0,10004.0,5.446968,27.0,133.775536,64.412214,87.795565,1,...,53655.384245,34269.909866,6291.557172,3961.860416,2530.456193,464.562348,24144.922910,15421.459440,2831.200728,100
2,104686000.0,39008700.0,47108700.0,10004.0,3.000000,709.0,564.000000,709.000000,564.000000,1,...,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424,100
3,39200000.0,15255000.0,17640000.0,10004.0,2.000000,793.0,551.000000,85.000000,551.000000,1,...,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700,100
4,272300000.0,121050000.0,122535000.0,10004.0,1.000000,323.0,1260.000000,89.000000,57.000000,1,...,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541,100

In [41]:
vars=['r1','r2','r3','r4','r5','r6','r7','r8','r9']

In [42]:
meanzip5=df2.groupby('ZIP')[vars].mean()
meanzip3=df2.groupby('zip3')[vars].mean()
meantaxclass=df2.groupby('TAXCLASS')[vars].mean()
meanboro=df2.groupby('B')[vars].mean()

In [43]:
df2=df2.join(meanzip5,on='ZIP',rsuffix='_zip5')
df2=df2.join(meanzip3,on='zip3',rsuffix='_zip3')
df2=df2.join(meantaxclass,on='TAXCLASS',rsuffix='_taxclass')
df2=df2.join(meanboro,on='B',rsuffix='_boro')

In [44]:
resuffix=['_zip5','_zip3','_taxclass','_boro']
for i in vars:
    for k in resuffix:
        df2[str(i)+k]=df2[i]/df2[str(i)+k]

In [46]:
df2.describe()

,FULLVAL,AVLAND,AVTOT,STORIES,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,B,LOTAREA,...,r9_taxclass,r1_boro,r2_boro,r3_boro,r4_boro,r5_boro,r6_boro,r7_boro,r8_boro,r9_boro
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,8.835977e+05,8.647343e+04,2.312407e+05,5.009945e+00,5.268214e+01,1.092436e+02,3.872672e+01,6.015042e+01,3.215427e+00,8.135920e+03,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.158241e+07,4.057287e+06,6.877633e+06,8.172874e+00,7.596092e+01,6.688077e+01,3.978480e+01,4.238918e+01,1.201197e+00,1.539038e+05,...,8.133147e+01,8.418100e+00,1.266710e+01,1.477032e+01,2.608965e+01,6.232079e+01,7.308819e+01,2.042847e+01,4.749950e+01,4.937404e+01
min,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,2.724933e-06,1.845598e-06,1.103987e-06,2.713139e-07,7.661991e-07,3.161191e-06,4.594072e-07,3.513719e-07,6.929921e-06,1.754849e-06
25%,3.100000e+05,9.531000e+03,1.870200e+04,2.000000e+00,2.100000e+01,9.900000e+01,2.000000e+01,3.700000e+01,3.000000e+00,2.040000e+03,...,3.466654e-01,3.814362e-01,3.121583e-01,2.775122e-01,2.167349e-01,1.953350e-01,1.227757e-01,2.284651e-01,2.911320e-01,2.829509e-01
50%,4.510000e+05,1.388200e+04,2.573000e+04,2.000000e+00,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,3.000000e+00,3.000000e+03,...,7.767597e-01,8.110334e-01,8.631789e-01,8.435327e-01,5.931468e-01,4.757397e-01,4.490322e-01,4.775460e-01,5.042764e-01,5.091896e-01
75%,6.270000e+05,2.023200e+04,4.838000e+04,4.000000e+00,6.000000e+01,1.120000e+02,4.000000e+01,8.266667e+01,4.000000e+00,6.000000e+03,...,1.064288e+00,1.213201e+00,1.172823e+00,1.186737e+00,9.554279e-01,7.238812e-01,6.934384e-01,7.627470e-01,7.130354e-01,7.401691e-01
max,6.150000e+09,2.668500e+09,4.668309e+09,1.190000e+02,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,5.000000e+00,9.998000e+07,...,8.343061e+04,5.190151e+03,5.793657e+03,9.234366e+03,1.992446e+04,3.889946e+04,6.658038e+04,1.722203e+04,2.566650e+04,4.373387e+04

In [47]:
result=df2.drop(columns=['FULLVAL','AVLAND','STORIES','LTFRONT','BLDFRONT','BLDDEPTH','ZIP','zip3','TAXCLASS','B','AVTOT','LTDEPTH','LOTAREA'
                        ,'BLDAREA','BLDVOL'])

In [48]:
result.describe()

,r1,r2,r3,r4,r5,r6,r7,r8,r9,r1_zip5,...,r9_taxclass,r1_boro,r2_boro,r3_boro,r4_boro,r5_boro,r6_boro,r7_boro,r8_boro,r9_boro
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,2.152278e+02,5.760426e+02,2.623124e+02,1.134086e+01,3.393744e+01,1.590520e+01,2.781460e+01,6.416045e+01,2.555350e+01,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.439696e+03,7.757851e+03,3.756499e+03,2.111728e+02,2.424134e+03,1.438070e+03,3.733010e+02,3.066847e+03,1.487748e+03,6.042822e+00,...,8.133147e+01,8.418100e+00,1.266710e+01,1.477032e+01,2.608965e+01,6.232079e+01,7.308819e+01,2.042847e+01,4.749950e+01,4.937404e+01
min,3.194961e-04,7.073253e-04,8.608601e-05,8.333333e-06,2.008674e-04,1.038033e-05,8.333333e-06,3.062474e-04,6.049251e-05,1.871600e-06,...,2.724933e-06,1.845598e-06,1.103987e-06,2.713139e-07,7.661991e-07,3.161191e-06,4.594072e-07,3.513719e-07,6.929921e-06,1.754849e-06
25%,7.115844e+01,1.705387e+02,6.884638e+01,2.238848e+00,5.607847e+00,1.736443e+00,5.137000e+00,1.671970e+01,6.573992e+00,4.115977e-01,...,3.466654e-01,3.814362e-01,3.121583e-01,2.775122e-01,2.167349e-01,1.953350e-01,1.227757e-01,2.284651e-01,2.911320e-01,2.829509e-01
50%,1.504507e+02,4.933333e+02,2.349206e+02,4.559750e+00,1.488000e+01,7.083636e+00,8.493884e+00,2.681687e+01,1.258945e+01,8.854000e-01,...,7.767597e-01,8.110334e-01,8.631789e-01,8.435327e-01,5.931468e-01,4.757397e-01,4.490322e-01,4.775460e-01,5.042764e-01,5.091896e-01
75%,2.410526e+02,6.803571e+02,3.330882e+02,7.227727e+00,2.029412e+01,1.003389e+01,1.350127e+01,3.602000e+01,1.756989e+01,1.210841e+00,...,1.064288e+00,1.213201e+00,1.172823e+00,1.186737e+00,9.554279e-01,7.238812e-01,6.934384e-01,7.627470e-01,7.130354e-01,7.401691e-01
max,8.360000e+05,3.712000e+06,2.930000e+06,1.540706e+05,1.549530e+06,1.318500e+06,2.481176e+05,1.670400e+06,1.318500e+06,2.680806e+03,...,8.343061e+04,5.190151e+03,5.793657e+03,9.234366e+03,1.992446e+04,3.889946e+04,6.658038e+04,1.722203e+04,2.566650e+04,4.373387e+04

In [49]:
result.to_csv('result1.csv')

In [51]:
result=result.describe().transpose()

In [52]:
result

,count,mean,std,min,25%,50%,75%,max
r1,1070994.0,215.227811,1439.696352,3.194961e-04,71.158441,150.450741,241.052632,8.360000e+05
r2,1070994.0,576.042588,7757.850911,7.073253e-04,170.538697,493.333333,680.357143,3.712000e+06
r3,1070994.0,262.312367,3756.499376,8.608601e-05,68.846382,234.920635,333.088235,2.930000e+06
r4,1070994.0,11.340857,211.172764,8.333333e-06,2.238848,4.559750,7.227727,1.540706e+05
r5,1070994.0,33.937441,2424.133718,2.008674e-04,5.607847,14.880000,20.294118,1.549530e+06
r6,1070994.0,15.905199,1438.070411,1.038033e-05,1.736443,7.083636,10.033889,1.318500e+06
r7,1070994.0,27.814596,373.301028,8.333333e-06,5.137000,8.493884,13.501270,2.481176e+05
r8,1070994.0,64.160446,3066.846869,3.062474e-04,16.719696,26.816872,36.020000,1.670400e+06
r9,1070994.0,25.553496,1487.747786,6.049251e-05,6.573992,12.589451,17.569887,1.318500e+06
r1_zip5,1070994.0,1.000000,6.042822,1.871600e-06,0.411598,0.885400,1.210841,2.680806e+03
r2_zip5,1070994.0,1.000000,7.945081,1.239030e-06,0.337147,0.892887,1.200805,3.561425e+03
r3_zip5,1070994.0,1.000000,9.777373,3.620324e-07,0.305314,0.854797,1.175098,5.457465e+03
r4_zip5,1070994.0,1.000000,12.614901,1.541916e-06,0.218068,0.685771,1.022859,7.922451e+03
r5_zip5,1070994.0,1.000000,19.079267,1.136532e-06,0.184199,0.629755,0.920761,8.728888e+03
r6_zip5,1070994.0,1.000000,21.327947,2.723796e-07,0.125895,0.546050,0.838770,9.303677e+03
r7_zip5,1070994.0,1.000000,10.294483,7.879156e-07,0.244674,0.593641,0.908663,5.724816e+03
r8_zip5,1070994.0,1.000000,15.882294,6.110379e-06,0.290923,0.628447,0.886012,7.615142e+03
r9_zip5,1070994.0,1.000000,17.434280,1.090399e-06,0.264646,0.583991,0.836727,8.740797e+03
r1_zip3,1070994.0,1.000000,8.508621,1.623575e-06,0.390733,0.831869,1.208521,5.190151e+03
r2_zip3,1070994.0,1.000000,11.394821,1.121114e-06,0.310912,0.868234,1.177579,4.644064e+03
r3_zip3,1070994.0,1.000000,14.318435,2.579796e-07,0.278485,0.852413,1.181561,8.780523e+03
r4_zip3,1070994.0,1.000000,27.282935,7.661991e-07,0.222920,0.608316,0.951114,1.992260e+04
r5_zip3,1070994.0,1.000000,49.160495,3.041699e-06,0.168321,0.535149,0.760892,3.695966e+04
r6_zip3,1070994.0,1.000000,63.178206,4.355574e-07,0.124181,0.467540,0.707322,5.498325e+04
r7_zip3,1070994.0,1.000000,23.807499,3.513719e-07,0.234280,0.495048,0.765032,2.132834e+04
r8_zip3,1070994.0,1.000000,36.135656,6.739341e-06,0.284683,0.553030,0.740974,2.350514e+04
r9_zip3,1070994.0,1.000000,45.773728,1.674390e-06,0.281808,0.525286,0.741346,3.910869e+04
r1_taxclass,1070994.0,1.000000,7.672998,1.172697e-06,0.348529,0.653600,1.042978,3.779498e+03
r2_taxclass,1070994.0,1.000000,24.397313,1.110019e-06,0.416116,0.737598,1.000839,2.067512e+04
r3_taxclass,1070994.0,1.000000,81.241899,5.012610e-07,0.400788,0.748602,1.032646,8.343109e+04
r4_taxclass,1070994.0,1.000000,9.385878,2.468698e-06,0.278288,0.686443,1.081656,4.978297e+03
r5_taxclass,1070994.0,1.000000,60.477958,4.116049e-06,0.209866,0.765652,1.055378,5.991245e+04
r6_taxclass,1070994.0,1.000000,136.962701,3.260026e-07,0.160911,0.747639,1.061534,1.412996e+05
r7_taxclass,1070994.0,1.000000,8.926070,1.643862e-06,0.343441,0.706278,1.094228,5.152461e+03
r8_taxclass,1070994.0,1.000000,24.862129,6.006013e-06,0.361459,0.784687,1.053493,2.067499e+04
r9_taxclass,1070994.0,1.000000,81.331475,2.724933e-06,0.346665,0.776760,1.064288,8.343061e+04
r1_boro,1070994.0,1.000000,8.418100,1.845598e-06,0.381436,0.811033,1.213201,5.190151e+03
r2_boro,1070994.0,1.000000,12.667098,1.103987e-06,0.312158,0.863179,1.172823,5.793657e+03
r3_boro,1070994.0,1.000000,14.770325,2.713139e-07,0.277512,0.843533,1.186737,9.234366e+03
r4_boro,1070994.0,1.000000,26.089650,7.661991e-07,0.216735,0.593147,0.955428,1.992446e+04
r5_boro,1070994.0,1.000000,62.320792,3.161191e-06,0.195335,0.475740,0.723881,3.889946e+04
r6_boro,1070994.0,1.000000,73.088194,4.594072e-07,0.122776,0.449032,0.693438,6.658038e+04
r7_boro,1070994.0,1.000000,20.428474,3.513719e-07,0.228465,0.477546,0.762747,1.722203e+04
r8_boro,1070994.0,1.000000,47.499505,6.929921e-06,0.291132,0.504276,0.713035,2.566650e+04
r9_boro,1070994.0,1.000000,49.374042,1.754849e-06,0.282951,0.509190,0.740169,4.373387e+04

In [53]:
result.to_csv('result.csv')